body {
  font-family: Arial, sans-serif;
  background: #fffaf0;
  text-align: center;
}
h1 {
  background-color: #ff6347;
  color: white;
  padding: 20px;
  border-radius: 10px;
}
#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}
.card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  width: 250px;
  box-shadow: 0px 2px 5px gray;
}
.card img {
  width: 100%;
  height: 160px;
  border-radius: 12px;
}
.price {
  color: green;
  font-weight: bold;
}
